<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\Logos\LogoRavenCorrp.png">
	<title>RavenCorp - Resultados</title>
<style type="text/css">
body {
  font-family: calibri;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  background-color: #8416A2;
  padding: 8px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  max-width: 15%;
  height: auto;
}

.divisora {
  width: 100%;
  max-width: 1760px;
  height: 2px;
  background-color: #CCCCCC;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
  margin: 10px;
  font-size: 50px;
}

.seccion{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 10vh;
  	margin: 10px;
	font-size: 30px;
}

.graf{
	max-width: 50%;
  	height: auto;
}

.datosGraf{
	margin-right: 200px;
	margin-left: 200px;
	
}

.datosGraf p{
	font-size: 20px;
}



.btnRegresar {
  padding: 10px 20px;
  font-size: 25px;
  background-color: #CBCBCB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 55px;
}

.btnRegresar:hover {
  background-color: #707070;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }
}

</style>

</head>
<body>
	<header class="header">
    <img src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\Logos\Raven corp Letras 2.png" alt="Imagen en el centro">
  </header>

  <div style="display: flex; justify-content: center;">
    <input class="btnRegresar" type="submit" name="regresar" value="Regresar">
  </div>

  <div class="titulo">
    <h1 class="titulo">Resultados Calidad de Productos Coca Cola</h1>
  </div>

  <div class="graficas" >
  	<div>
	  	<h2 class="seccion" >Demográficas</h2>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen1.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de los encuestados según su rango de edad. Los datos revelan que el 28.6% de los encuestados tienen entre 30 y 40 años, otro 28.6% son mayores de 40 años, el 28.6% se encuentra en el rango de edad de 20 a 30 años, y el 14.3% son menores de 15 años.</p>	
	  			<div class="divisora"></div>
	  	</div>

	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen2.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de los encuestados según su identificación de género. Los datos revelan que el 42.9% de los encuestados se identifican como masculinos, el 38.1% se identifican como femeninos, y el 19% prefieren no responder.</p>
	  			<div class="divisora"></div>	
	  	</div>
  	</div>

  	<div>
	  	<h2 class="seccion">Cantidad de consumo de nuestros productos</h2>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen3.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de los encuestados según la duración de su consumo de productos Coca-Cola. Los datos revelan que el 43.5% de los encuestados ha estado consumiendo productos Coca-Cola durante más de 10 años, el 26.1% ha estado consumiendo durante 5 a 10 años, el 17.4% ha estado consumiendo durante 1 a 5 años, y el 13% ha estado consumiendo durante menos de un año.</p>
	  			<div class="divisora"></div>	
	  	</div>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen4.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de los encuestados según la frecuencia de consumo de productos Coca-Cola. Los datos revelan que el 50% de los encuestados consume productos Coca-Cola varias veces a la semana, el 33% lo consume ocasionalmente (menos de una vez por semana) y el 16.7% lo consume una vez a la semana.</p>
	  			<div class="divisora"></div>	
	  	</div>
  	</div>

  	<div>
	  	<h2 class="seccion">Valor de la marca</h2>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen5.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de las respuestas de los encuestados sobre lo que más les gusta de los productos Coca-Cola. Los datos revelan que el 29.2% menciona que lo que más les gusta es que son refrescantes, otro 29.2% destaca la variedad de productos (dietéticas, sin azúcar, etc.), el 20.8% menciona que les gusta el burbujeo, el 12.5% menciona el sabor y el 8.3% destaca que Coca-Cola es una marca reconocida.</p>
	  			<div class="divisora"></div>	
	  	</div>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen6.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de las opiniones de los encuestados sobre la calidad de los productos Coca-Cola en comparación con otras marcas. Los datos revelan que el 55.6% de los encuestados opina que la calidad de los productos Coca-Cola es mejor que la de otras marcas, el 22.2% opina que es de igual calidad, el 16.7% no está seguro y el 5.6% opina que es de peor calidad.</p>
	  			<div class="divisora"></div>	
	  	</div>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen7.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de los motivos por los cuales los encuestados eligen Coca-Cola sobre otras opciones. Los datos revelan que el 55.6% de los encuestados se siente motivado a elegir Coca-Cola debido a su sabor, el 11.1% debido a que es una marca reconocida, otro 11.1% debido a su publicidad, otro 11.1% debido a su disponibilidad, el 2.8% debido a su precio, otro 2.8% porque la consideran refrescante y deliciosa, otro 2.8% porque no la consume, y otro 2.8% la consume solo si no hay otra opción disponible.</p>
	  			<div class="divisora"></div>	
	  	</div>
  	</div>

  	<div>
	  	<h2 class="seccion">Evalución de la calidad de los productos</h2>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen8.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de las opiniones de los encuestados sobre la percepción de la calidad de los productos Coca-Cola a lo largo del tiempo. Los datos revelan que el 33.3% de los encuestados menciona no haber notado cambios en la calidad a lo largo del tiempo, el 30.6% menciona que la calidad se ha mantenido igual que siempre, el 22.2% opina que ha mejorado y el 13.9% opina que ha empeorado.</p>
	  			<div class="divisora"></div>	
	  	</div>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen9.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de las expectativas de los encuestados con respecto a los productos de Coca-Cola. Los datos revelan que el 44.4% de los encuestados espera que los productos de Coca-Cola sean una opción refrescante y con gas, el 27.8% espera el sabor clásico e icónico de Coca-Cola, el 16.7% espera sabores innovadores y variados, y el 11.1% espera experiencias de consumo únicas.</p>
	  			<div class="divisora"></div>	
	  	</div>
	  	<div class="datosGraf">
	  		<center><img class="graf" src="C:\Users\braya\OneDrive\Documents\TECNL\RavenCorp\graficas\Imagen10.png"></center> 
	  			<p>El gráfico muestra la distribución porcentual de los factores principales que influyen en la decisión de compra de los encuestados en relación con los productos de Coca-Cola. Los datos revelan que el 44.4% de los encuestados menciona que la disponibilidad de los productos en tiendas o establecimientos es el factor principal que influye en su decisión de compra. Además, el 19.4% menciona el precio competitivo, el 13.9% menciona las promociones y descuentos, el 11.1% menciona las recomendaciones de amigos o familiares, el 8.3% menciona la publicidad y campañas de marketing, y el 2.8% menciona que solo consume los productos de sabores diferentes por curiosidad.</p>
	  			<div class="divisora"></div>	
	  	</div>
  	</div>
  </div>
  <div style="display: flex; justify-content: center;">
    <input class="btnRegresar" type="submit" name="regresar" value="Regresar">
  </div>

</body>
</html>